*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    justify-content: center;
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 21, 21);
    color: white;
}
.brand-title{
    font-size: 1.7rem;
    margin: 1.2rem;
    text-shadow: 2px 0px 14px whitesmoke;
}
.navbar-collapse ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-collapse li{
    list-style: none;
}
.navbar-collapse li a{
    text-decoration: none;
    color:  white;
    padding: 1rem;
    display: block;
    font-weight: 700;
    font-size: 19px;
}
.navbar-collapse li:hover{
    background-color: gray;
}
.toggle-button{
    position: absolute;
    top: 1.3rem;
    right: 1.2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    align-items: center;
    height: 3px;
    width: 100%;
    background-color:white;
    border-radius: 10px;
}
@media(max-width: 500px){
    .toggle-button{
        display: flex;
    }
    .navbar-collapse{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-collapse ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-collapse li{
        text-align: center;
    }
    .navbar-collapse li a{
        padding: .5rem 1rem;
    }
    .navbar-collapse.active{
        display: flex;
    }   
}